<div>
    <h2 id="page-heading">
        <span>Transmissions</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-transmission" [routerLink]="['/transmission/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create new Transmission
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="transmissions?.length === 0">
        <span>No transmissions found</span>
    </div>
    <div class="table-responsive" *ngIf="transmissions?.length > 0">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>Transmission Name</span></th>
            <th><span>Transmissao Image</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let transmission of transmissions ;trackBy: trackId">
                <td><a [routerLink]="['/transmission', transmission.id, 'view' ]">{{transmission.id}}</a></td>
                <td>{{transmission.transmissionName}}</td>
                <td>{{transmission.transmissaoImage}}</td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/transmission', transmission.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/transmission', transmission.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'transmission', { outlets: { popup: transmission.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
