<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="catalogs">
            <h2><span>Catalogs</span> {{catalogs.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Catalog Name</span></dt>
                <dd>
                    <span>{{catalogs.catalogName}}</span>
                </dd>
                <dt><span>User</span></dt>
                <dd>
                    {{catalogs.user?.login}}
                </dd>

                <dt><span>Cover photos</span></dt>

                <dd>
                    <mdb-carousel class="carousel slide carousel-fade" [animation]="'fade'">
                        <mdb-carousel-item *ngFor="let image of catalogs.coverImages">
                            <img class="d-block w-100"
                                 src="data:image/jpeg;base64,{{image.content}}" alt="First slide">
                        </mdb-carousel-item>
                    </mdb-carousel>
                </dd>


            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/catalogs', catalogs.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
