<div>
    <h2 id="page-heading">
        <span>Families</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-families" [routerLink]="['/families/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create new Families
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="families?.length === 0">
        <span>No families found</span>
    </div>
    <div class="table-responsive" *ngIf="families?.length > 0">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span>ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="familyName"><span>Family Name</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="familyImage"><span>Family Image</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="familyIcon"><span>Family Icon</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="lines.lineName"><span>Lines</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let families of families ;trackBy: trackId">
                <td><a [routerLink]="['/families', families.id, 'view' ]">{{families.id}}</a></td>
                <td>{{families.familyName}}</td>
                <td>{{families.familyImage}}</td>
                <td>{{families.familyIcon}}</td>
                <td>
                    <div *ngIf="families.lines">
                        <a [routerLink]="['../lines', families.lines?.id, 'view' ]" >{{families.lines?.lineName}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/families', families.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/families', families.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'families', { outlets: { popup: families.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div [hidden]="families?.length === 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
