<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-vehicles-heading">Create or edit a Vehicles</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!editForm.get('id').value">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_vehicle">Vehicle</label>
                    <input type="text" class="form-control" name="vehicle" id="field_vehicle"
                           formControlName="vehicle"/>
                    <div *ngIf="editForm.get('vehicle').invalid && (editForm.get('vehicle').dirty || editForm.get('vehicle').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('vehicle').errors.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('vehicle').errors.maxlength">
                        This field cannot be longer than 40 characters.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_code">Code</label>
                    <input type="text" class="form-control" name="code" id="field_code"
                           formControlName="code"/>
                    <div *ngIf="editForm.get('code').invalid && (editForm.get('code').dirty || editForm.get('code').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('code').errors.maxlength">
                        This field cannot be longer than 10 characters.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_vehicleBrands">Vehicle Brands</label>
                    <select class="form-control" id="field_vehicleBrands" name="vehicleBrands" formControlName="vehicleBrands">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="vehicleBrandsOption.id === editForm.get('vehicleBrands').value?.id ? editForm.get('vehicleBrands').value : vehicleBrandsOption" *ngFor="let vehicleBrandsOption of vehiclebrands; trackBy: trackVehicleBrandsById">{{vehicleBrandsOption.vehicleBrandName}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
