<div>
    <h2 id="page-heading">
        <span>Steerings</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-steering" [routerLink]="['/steering/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create new Steering
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="steerings?.length === 0">
        <span>No steerings found</span>
    </div>
    <div class="table-responsive" *ngIf="steerings?.length > 0">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>Steering Name</span></th>
            <th><span>Steering Image</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let steering of steerings ;trackBy: trackId">
                <td><a [routerLink]="['/steering', steering.id, 'view' ]">{{steering.id}}</a></td>
                <td>{{steering.steeringName}}</td>
                <td>{{steering.steeringImage}}</td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/steering', steering.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/steering', steering.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'steering', { outlets: { popup: steering.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
